<%= render @post %>
<div class="d-flex gap-1 my-3">
  <% Post::Kinds.each do |kind| %>
    <%= button_to "#{Post::KindsSpanish[kind]}",
new_user_reaction_path(post_id: @post.id, reaction_type:
"post", kind: kind), class:'btn btn-warning btn-sm', method: :post %>
  <% end %>
</div>
<%= render 'comments/form' %>
<div class='text-end'>
  <%#= link_to "Edit this post", edit_post_path(@post) %>
  <%= link_to "Volver a publicaciones", posts_path,class:'btn btn-secondary btn-sm' %>
  <%#= button_to "Destroy this post", @post, method: :delete %>
</div>
<%= render 'comments/post_comments' %>
